html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, img {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: "Microsoft YaHei UI";
}

ul, ol {
    list-style: none;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

a {
    text-decoration: none;
}

ul li {
    cursor: pointer;
}

.heart {
    width: 1100px;
    margin: 0 auto;
}

.header {
    width: 70%;
    margin: 0 auto;
}

.header ul {
    display: flex;
    flex-direction: row;
}

.left {
    width: 11%;
    float: left;
}

.content {
    width: 89%;
    float: right;
}

.table {
    max-width: 1000px;
}

.list-group-item:hover {
    background: #418bca;
    color: white;
}

.myLiStyle {
    background: #418bca !important;
    color: white;
}

.item {
    display: none;
}

input{
    width: 150px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control{
    display: inline-block !important;
    width: auto !important;
}

input[type=file]{
    display: inline-block !important;
}

.bgColor {
    background: #286090;
}

.pText {
    display: inline-block;
}

.paging {
    text-align: center;
    margin-top: 30px;
}

.jump {
    width: 55px;
}

td{
    vertical-align: middle;
}