html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, img
{
    margin:0;
    padding:0;
}

html{
    font-size: 16px;
    font-family: "Microsoft YaHei UI";
}

ul, ol
{
    list-style:none;
}

input{
    vertical-align: middle;
}

.clearfix:before,
.clearfix:after
{
    content:"";
    display:table;
}
.clearfix:after
{
    clear:both;
}
.clearfix
{
    *zoom:1;
}

a
{
    text-decoration:none;
}