<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jin321.ms.dao.GetOrderFormDidMapper">
    <select id="getOrderFormDid">
        SELECT did
        FROM product
        WHERE pid=(SELECT pid FROM orderformproduct WHERE oid={#oid})
    </select>
</mapper>
