<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jin321.ms.dao.GetProductSizeDetailBySidMapper">
    <resultMap id="BaseResultMap" type="com.jin321.ms.model.UpdateProductSizeDetail">
        <id column="sid" property="sid" jdbcType="INTEGER"/>
        <result column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="pname" property="pname" jdbcType="VARCHAR"/>
        <result column="psummary" property="psummary" jdbcType="VARCHAR"/>
        <result column="sizename" property="sizename" jdbcType="VARCHAR"/>
        <result column="snumber" property="snumber" jdbcType="INTEGER"/>
        <result column="ptypenamea" property="ptypea" jdbcType="VARCHAR"/>
        <result column="ptypenameb" property="ptypeb" jdbcType="VARCHAR"/>
        <result column="ptypenamec" property="ptypec" jdbcType="VARCHAR"/>
        <result column="pscost" property="pscost" jdbcType="DECIMAL"/>
        <result column="psoriprice" property="psoriprice" jdbcType="DECIMAL"/>
        <result column="pssellprice" property="pssellprice" jdbcType="DECIMAL"/>
    </resultMap>
    <select id="getDetial" resultMap="BaseResultMap">
        SELECT productsize.sid,
              productsize.pid,
              product.pname,
              product.psummary,
              productsize.sizename,
              productsize.snumber,
              producttypea.typename as ptypenamea,
              producttypeb.typename as ptypenameb,
              producttypec.typename as ptypenamec,
              productsize.pscost,
              productsize.psoriprice,
              productsize.pssellprice
              FROM
              (productsize,product)
              LEFT JOIN producttype as producttypea ON producttypea.tid=product.ptypea
              LEFT JOIN producttype as producttypeb ON producttypeb.tid=product.ptypeb
              LEFT JOIN producttype as producttypec ON producttypec.tid=product.ptypec
              WHERE
                product.is_delete=0
               AND productsize.sid=${param1}
               AND productsize.is_deleted=0
			   AND productsize.pid=product.pid

    </select>
</mapper>
