<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jin321.wx.dao.OrderformDetailMapper">
    <resultMap id="BaseResultMap" type="orderformDetail" >
        <id column="oid" property="oid" jdbcType="BIGINT" />
        <result column="uid" property="uid" jdbcType="VARCHAR" />
        <result column="uaid" property="uaid" jdbcType="INTEGER" />
        <result column="odate" property="odate" jdbcType="TIMESTAMP" />
        <result column="opaydate" property="opaydate" jdbcType="TIMESTAMP" />
        <result column="osenddate" property="osenddate" jdbcType="TIMESTAMP" />
        <result column="oconfirmdate" property="oconfirmdate" jdbcType="TIMESTAMP" />
        <result column="orepaytime" property="orepaytime" jdbcType="TIMESTAMP" />
        <result column="opayed" property="opayed" jdbcType="INTEGER" />
        <result column="ostate" property="ostate" jdbcType="INTEGER" />
        <result column="omessage" property="omessage" jdbcType="VARCHAR" />
        <result column="osendmethod" property="osendmethod" jdbcType="VARCHAR" />
        <result column="osendnumber" property="osendnumber" jdbcType="VARCHAR" />
        <collection property="orderformproducts" ofType="orderformproduct">
            <id column="ofpid" property="ofpid" jdbcType="INTEGER" />
            <result column="pid" property="pid" jdbcType="INTEGER" />
            <result column="sid" property="sid" jdbcType="INTEGER" />
            <result column="pamount" property="pamount" jdbcType="INTEGER" />
            <result column="pbuyprice" property="pbuyprice" jdbcType="DECIMAL" />
        </collection>
    </resultMap>

    <insert id="insert" parameterType="orderformDetail">
        insert into orderform (oid, uid, uaid,
        odate, opaydate, osenddate,
        oconfirmdate, opayed, ostate,
        omessage, osendmethod, osendnumber
        )
        values (#{oid,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{uaid,jdbcType=INTEGER},
        #{odate,jdbcType=DATE}, #{opaydate,jdbcType=DATE}, #{osenddate,jdbcType=DATE},
        #{oconfirmdate,jdbcType=DATE}, #{opayed,jdbcType=INTEGER}, #{ostate,jdbcType=INTEGER},
        #{omessage,jdbcType=VARCHAR}, #{osendmethod,jdbcType=VARCHAR}, #{osendnumber,jdbcType=VARCHAR}
        )
    </insert>
</mapper>