<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jin321.wx.dao.SimpleProductMapper">
    <resultMap id="basemap" type="simpleProduct">
        <id column="pid" property="pid" jdbcType="INTEGER" javaType="java.lang.Integer" />
        <result column="did" property="did" jdbcType="INTEGER" javaType="java.lang.Integer" />
        <result column="pname" property="pname" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="psummary" property="psummary" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result column="ptypea" property="ptypea" jdbcType="INTEGER" javaType="java.lang.Integer" />
        <result column="ptypeb" property="ptypeb" jdbcType="INTEGER" javaType="java.lang.Integer" />
        <result column="ptypec" property="ptypec" jdbcType="INTEGER" javaType="java.lang.Integer" />
        <result column="is_together" property="isTogether" jdbcType="BIT" javaType="java.lang.Boolean" />
        <association property="productpics" column="pid" javaType="productpics"
                     select="com.jin321.pl.dao.ProductpicsMapper.selectNowHeadPicByPrimaryKey"/>
        <association property="rollingpick" javaType="rollingpick" column="pid" select="com.jin321.pl.dao.RollingpickMapper.selectNowByPrimaryKey"/>
    </resultMap>
    <select id="selectNowSimpleProduct" resultMap="basemap">
    SELECT * FROM product
        WHERE pid=#{pid} AND is_delete=0;
    </select>
</mapper>