<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jin321.pl.dao.DealerbuyformMapper" >
  <resultMap id="BaseResultMap" type="com.jin321.pl.model.Dealerbuyform" >
    <id column="dbfid" property="dbfid" jdbcType="BIGINT" />
    <result column="buyformstate" property="buyformstate" jdbcType="INTEGER" />
    <result column="totalmoney" property="totalmoney" jdbcType="DECIMAL" />
    <result column="dbfdate" property="dbfdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dbfid, buyformstate, totalmoney, dbfdate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jin321.pl.model.DealerbuyformExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dealerbuyform
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dealerbuyform
    where dbfid = #{dbfid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dealerbuyform
    where dbfid = #{dbfid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jin321.pl.model.DealerbuyformExample" >
    delete from dealerbuyform
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jin321.pl.model.Dealerbuyform" >
    insert into dealerbuyform (dbfid, buyformstate, totalmoney, 
      dbfdate)
    values (#{dbfid,jdbcType=BIGINT}, #{buyformstate,jdbcType=INTEGER}, #{totalmoney,jdbcType=DECIMAL}, 
      #{dbfdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jin321.pl.model.Dealerbuyform" >
    insert into dealerbuyform
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dbfid != null" >
        dbfid,
      </if>
      <if test="buyformstate != null" >
        buyformstate,
      </if>
      <if test="totalmoney != null" >
        totalmoney,
      </if>
      <if test="dbfdate != null" >
        dbfdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dbfid != null" >
        #{dbfid,jdbcType=BIGINT},
      </if>
      <if test="buyformstate != null" >
        #{buyformstate,jdbcType=INTEGER},
      </if>
      <if test="totalmoney != null" >
        #{totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="dbfdate != null" >
        #{dbfdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jin321.pl.model.DealerbuyformExample" resultType="java.lang.Integer" >
    select count(*) from dealerbuyform
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dealerbuyform
    <set >
      <if test="record.dbfid != null" >
        dbfid = #{record.dbfid,jdbcType=BIGINT},
      </if>
      <if test="record.buyformstate != null" >
        buyformstate = #{record.buyformstate,jdbcType=INTEGER},
      </if>
      <if test="record.totalmoney != null" >
        totalmoney = #{record.totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="record.dbfdate != null" >
        dbfdate = #{record.dbfdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dealerbuyform
    set dbfid = #{record.dbfid,jdbcType=BIGINT},
      buyformstate = #{record.buyformstate,jdbcType=INTEGER},
      totalmoney = #{record.totalmoney,jdbcType=DECIMAL},
      dbfdate = #{record.dbfdate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jin321.pl.model.Dealerbuyform" >
    update dealerbuyform
    <set >
      <if test="buyformstate != null" >
        buyformstate = #{buyformstate,jdbcType=INTEGER},
      </if>
      <if test="totalmoney != null" >
        totalmoney = #{totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="dbfdate != null" >
        dbfdate = #{dbfdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where dbfid = #{dbfid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jin321.pl.model.Dealerbuyform" >
    update dealerbuyform
    set buyformstate = #{buyformstate,jdbcType=INTEGER},
      totalmoney = #{totalmoney,jdbcType=DECIMAL},
      dbfdate = #{dbfdate,jdbcType=TIMESTAMP}
    where dbfid = #{dbfid,jdbcType=BIGINT}
  </update>
</mapper>