<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jin321.pl.dao.OrderformMapper" >
  <resultMap id="BaseResultMap" type="com.jin321.pl.model.Orderform" >
    <id column="oid" property="oid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="uaid" property="uaid" jdbcType="INTEGER" />
    <result column="odate" property="odate" jdbcType="DATE" />
    <result column="opaydate" property="opaydate" jdbcType="DATE" />
    <result column="osenddate" property="osenddate" jdbcType="DATE" />
    <result column="oconfirmdate" property="oconfirmdate" jdbcType="DATE" />
    <result column="opayed" property="opayed" jdbcType="INTEGER" />
    <result column="ostate" property="ostate" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jin321.pl.model.Orderform" extends="BaseResultMap" >
    <result column="omessage" property="omessage" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    oid, uid, uaid, odate, opaydate, osenddate, oconfirmdate, opayed, ostate
  </sql>
  <sql id="Blob_Column_List" >
    omessage
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.jin321.pl.model.OrderformExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from orderform
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jin321.pl.model.OrderformExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orderform
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from orderform
    where oid = #{oid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orderform
    where oid = #{oid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jin321.pl.model.OrderformExample" >
    delete from orderform
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jin321.pl.model.Orderform" >
    insert into orderform (oid, uid, uaid, 
      odate, opaydate, osenddate, 
      oconfirmdate, opayed, ostate, 
      omessage)
    values (#{oid,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{uaid,jdbcType=INTEGER}, 
      #{odate,jdbcType=DATE}, #{opaydate,jdbcType=DATE}, #{osenddate,jdbcType=DATE}, 
      #{oconfirmdate,jdbcType=DATE}, #{opayed,jdbcType=INTEGER}, #{ostate,jdbcType=INTEGER}, 
      #{omessage,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jin321.pl.model.Orderform" >
    insert into orderform
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        oid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="uaid != null" >
        uaid,
      </if>
      <if test="odate != null" >
        odate,
      </if>
      <if test="opaydate != null" >
        opaydate,
      </if>
      <if test="osenddate != null" >
        osenddate,
      </if>
      <if test="oconfirmdate != null" >
        oconfirmdate,
      </if>
      <if test="opayed != null" >
        opayed,
      </if>
      <if test="ostate != null" >
        ostate,
      </if>
      <if test="omessage != null" >
        omessage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="uaid != null" >
        #{uaid,jdbcType=INTEGER},
      </if>
      <if test="odate != null" >
        #{odate,jdbcType=DATE},
      </if>
      <if test="opaydate != null" >
        #{opaydate,jdbcType=DATE},
      </if>
      <if test="osenddate != null" >
        #{osenddate,jdbcType=DATE},
      </if>
      <if test="oconfirmdate != null" >
        #{oconfirmdate,jdbcType=DATE},
      </if>
      <if test="opayed != null" >
        #{opayed,jdbcType=INTEGER},
      </if>
      <if test="ostate != null" >
        #{ostate,jdbcType=INTEGER},
      </if>
      <if test="omessage != null" >
        #{omessage,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jin321.pl.model.OrderformExample" resultType="java.lang.Integer" >
    select count(*) from orderform
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update orderform
    <set >
      <if test="record.oid != null" >
        oid = #{record.oid,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.uaid != null" >
        uaid = #{record.uaid,jdbcType=INTEGER},
      </if>
      <if test="record.odate != null" >
        odate = #{record.odate,jdbcType=DATE},
      </if>
      <if test="record.opaydate != null" >
        opaydate = #{record.opaydate,jdbcType=DATE},
      </if>
      <if test="record.osenddate != null" >
        osenddate = #{record.osenddate,jdbcType=DATE},
      </if>
      <if test="record.oconfirmdate != null" >
        oconfirmdate = #{record.oconfirmdate,jdbcType=DATE},
      </if>
      <if test="record.opayed != null" >
        opayed = #{record.opayed,jdbcType=INTEGER},
      </if>
      <if test="record.ostate != null" >
        ostate = #{record.ostate,jdbcType=INTEGER},
      </if>
      <if test="record.omessage != null" >
        omessage = #{record.omessage,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update orderform
    set oid = #{record.oid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=VARCHAR},
      uaid = #{record.uaid,jdbcType=INTEGER},
      odate = #{record.odate,jdbcType=DATE},
      opaydate = #{record.opaydate,jdbcType=DATE},
      osenddate = #{record.osenddate,jdbcType=DATE},
      oconfirmdate = #{record.oconfirmdate,jdbcType=DATE},
      opayed = #{record.opayed,jdbcType=INTEGER},
      ostate = #{record.ostate,jdbcType=INTEGER},
      omessage = #{record.omessage,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update orderform
    set oid = #{record.oid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=VARCHAR},
      uaid = #{record.uaid,jdbcType=INTEGER},
      odate = #{record.odate,jdbcType=DATE},
      opaydate = #{record.opaydate,jdbcType=DATE},
      osenddate = #{record.osenddate,jdbcType=DATE},
      oconfirmdate = #{record.oconfirmdate,jdbcType=DATE},
      opayed = #{record.opayed,jdbcType=INTEGER},
      ostate = #{record.ostate,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jin321.pl.model.Orderform" >
    update orderform
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="uaid != null" >
        uaid = #{uaid,jdbcType=INTEGER},
      </if>
      <if test="odate != null" >
        odate = #{odate,jdbcType=DATE},
      </if>
      <if test="opaydate != null" >
        opaydate = #{opaydate,jdbcType=DATE},
      </if>
      <if test="osenddate != null" >
        osenddate = #{osenddate,jdbcType=DATE},
      </if>
      <if test="oconfirmdate != null" >
        oconfirmdate = #{oconfirmdate,jdbcType=DATE},
      </if>
      <if test="opayed != null" >
        opayed = #{opayed,jdbcType=INTEGER},
      </if>
      <if test="ostate != null" >
        ostate = #{ostate,jdbcType=INTEGER},
      </if>
      <if test="omessage != null" >
        omessage = #{omessage,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where oid = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jin321.pl.model.Orderform" >
    update orderform
    set uid = #{uid,jdbcType=VARCHAR},
      uaid = #{uaid,jdbcType=INTEGER},
      odate = #{odate,jdbcType=DATE},
      opaydate = #{opaydate,jdbcType=DATE},
      osenddate = #{osenddate,jdbcType=DATE},
      oconfirmdate = #{oconfirmdate,jdbcType=DATE},
      opayed = #{opayed,jdbcType=INTEGER},
      ostate = #{ostate,jdbcType=INTEGER},
      omessage = #{omessage,jdbcType=LONGVARCHAR}
    where oid = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jin321.pl.model.Orderform" >
    update orderform
    set uid = #{uid,jdbcType=VARCHAR},
      uaid = #{uaid,jdbcType=INTEGER},
      odate = #{odate,jdbcType=DATE},
      opaydate = #{opaydate,jdbcType=DATE},
      osenddate = #{osenddate,jdbcType=DATE},
      oconfirmdate = #{oconfirmdate,jdbcType=DATE},
      opayed = #{opayed,jdbcType=INTEGER},
      ostate = #{ostate,jdbcType=INTEGER}
    where oid = #{oid,jdbcType=INTEGER}
  </update>
</mapper>