<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jin321.pl.dao.PaycommisionMapper" >
  <resultMap id="BaseResultMap" type="com.jin321.pl.model.Paycommision" >
    <id column="pcid" property="pcid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="paynum" property="paynum" jdbcType="DECIMAL" />
    <result column="paydate" property="paydate" jdbcType="TIMESTAMP" />
    <result column="paymsg" property="paymsg" jdbcType="VARCHAR" />
    <result column="paymsgusr" property="paymsgusr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pcid, uid, paynum, paydate, paymsg, paymsgusr
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jin321.pl.model.PaycommisionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from paycommision
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from paycommision
    where pcid = #{pcid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from paycommision
    where pcid = #{pcid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jin321.pl.model.PaycommisionExample" >
    delete from paycommision
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jin321.pl.model.Paycommision" >
    insert into paycommision (pcid, uid, paynum, 
      paydate, paymsg, paymsgusr
      )
    values (#{pcid,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{paynum,jdbcType=DECIMAL}, 
      #{paydate,jdbcType=TIMESTAMP}, #{paymsg,jdbcType=VARCHAR}, #{paymsgusr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jin321.pl.model.Paycommision" >
    insert into paycommision
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pcid != null" >
        pcid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="paynum != null" >
        paynum,
      </if>
      <if test="paydate != null" >
        paydate,
      </if>
      <if test="paymsg != null" >
        paymsg,
      </if>
      <if test="paymsgusr != null" >
        paymsgusr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pcid != null" >
        #{pcid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="paynum != null" >
        #{paynum,jdbcType=DECIMAL},
      </if>
      <if test="paydate != null" >
        #{paydate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymsg != null" >
        #{paymsg,jdbcType=VARCHAR},
      </if>
      <if test="paymsgusr != null" >
        #{paymsgusr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jin321.pl.model.PaycommisionExample" resultType="java.lang.Integer" >
    select count(*) from paycommision
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update paycommision
    <set >
      <if test="record.pcid != null" >
        pcid = #{record.pcid,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.paynum != null" >
        paynum = #{record.paynum,jdbcType=DECIMAL},
      </if>
      <if test="record.paydate != null" >
        paydate = #{record.paydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.paymsg != null" >
        paymsg = #{record.paymsg,jdbcType=VARCHAR},
      </if>
      <if test="record.paymsgusr != null" >
        paymsgusr = #{record.paymsgusr,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update paycommision
    set pcid = #{record.pcid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=VARCHAR},
      paynum = #{record.paynum,jdbcType=DECIMAL},
      paydate = #{record.paydate,jdbcType=TIMESTAMP},
      paymsg = #{record.paymsg,jdbcType=VARCHAR},
      paymsgusr = #{record.paymsgusr,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jin321.pl.model.Paycommision" >
    update paycommision
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="paynum != null" >
        paynum = #{paynum,jdbcType=DECIMAL},
      </if>
      <if test="paydate != null" >
        paydate = #{paydate,jdbcType=TIMESTAMP},
      </if>
      <if test="paymsg != null" >
        paymsg = #{paymsg,jdbcType=VARCHAR},
      </if>
      <if test="paymsgusr != null" >
        paymsgusr = #{paymsgusr,jdbcType=VARCHAR},
      </if>
    </set>
    where pcid = #{pcid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jin321.pl.model.Paycommision" >
    update paycommision
    set uid = #{uid,jdbcType=VARCHAR},
      paynum = #{paynum,jdbcType=DECIMAL},
      paydate = #{paydate,jdbcType=TIMESTAMP},
      paymsg = #{paymsg,jdbcType=VARCHAR},
      paymsgusr = #{paymsgusr,jdbcType=VARCHAR}
    where pcid = #{pcid,jdbcType=INTEGER}
  </update>
</mapper>