.black-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 99998;
}

.header li {
    float: left;
}

.pid-input {
    width: 180px;
}